* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
}

::-webkit-scrollbar {
  background: transparent;
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-thumb {
  background: #606060;
  border-radius: 10px;
  margin-top: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #909090;
}
