header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 120;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

nav {
  & ul {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include media("0", "3") {
      flex-direction: column;
      display: none;
    }

    & li {
      margin: 0 20px;
      list-style: none;
      @include media("0", "3") {
        margin: 24px 0;
      }
      & a {
        color: #373737;
        font-size: 15px;
      }
    }
  }
}

.header {
  &__modification {
    height: 70px;
    box-shadow: 1px 1px 10px 0 #00000010;
    background-color: #ffffffd0;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    @include media("0", "3") {
      box-shadow: none;
    }
  }

  &__container {
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0 20px;
  }

  &__logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    & img {
      width: 150px;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 145px;
  }
  &__btn-menu {
    height: 40px;
    width: 40px;
    background-image: url(../img/menu_FILL0_wght400_GRAD0_opsz48.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: background 0.3s;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;

    display: none;

    &:active {
      background-color: rgba(0, 0, 0, 0.106);
    }
    @include media("0", "3") {
      display: flex;
    }
  }

  &__nav {
    @include media("0", "3") {
      position: relative;
      height: 100%;
      top: 100px;
      height: 100vh;
      position: fixed;
      background-color: #ffffffd0;
      backdrop-filter: blur(6px);
      -webkit-backdrop-filter: blur(6px);
      right: -1000px;
      padding: 0 40px;
      transition: right 0.3s, top 150ms;
      -webkit-transition: right 0.3s, top 150ms;
      -moz-transition: right 0.3s, top 150ms;
      -ms-transition: right 0.3s, top 150ms;
      -o-transition: right 0.3s, top 150ms;
    }
  }
  &__nav--modificador {
    top: 70px;
  }
  &__nav-container {
    @include media("0", "3") {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      justify-items: center;
      align-items: center;
      flex-direction: column;
      margin: 0;
      padding: 0;
    }
  }
  &__nav-a {
    @include media("0", "3") {
      margin: 0;
      padding: 0;
    }
  }
}

.front {
  &__all {
    width: 100%;
    padding-bottom: 60px;
    margin-top: 100px;
  }

  &__cover {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-image: url(../img/background-cover.svg);
    background-size: cover;
    background-position: bottom;
  }

  &__info {
    max-width: 400px;
    z-index: 2;
  }

  &__info-txt {
    font-size: 60px;
    font-weight: 900;
    &--h1 {
      color: #373737;
    }
    &--h2 {
      color: #feba0b;
    }
    &--p {
      font-weight: 500;
      font-size: 1rem;
      color: #373737;
      margin-top: 10px;
    }
  }

  &__info-button {
    padding: 10px 40px;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    color: #ffffff;
    background-color: #feba0b;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 1px 1px 30px -5px #20202049;
    cursor: pointer;
    transition: box-shadow 0.5s;
    -webkit-transition: box-shadow 0.5s;
    -moz-transition: box-shadow 0.5s;
    -ms-transition: box-shadow 0.5s;
    -o-transition: box-shadow 0.5s;
    &:hover {
      box-shadow: 1px 1px 30px -5px #202020a1;
    }
  }

  &__img {
    position: relative;
  }

  &__img-svg {
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 600px;
    animation: move_svg 6s ease-in-out infinite;
    -webkit-animation: move_svg 6s ease-in-out infinite;
    &--a {
      height: 100%;
      background-image: url(../img/undraw_Code_thinking_re_gka2.svg);
      background-size: contain;
      background-position: right;
      background-repeat: no-repeat;
    }
  }
}

@keyframes move_svg {
  0% {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
  }

  25% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
  }

  100% {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
  }
}

@include media("0", "2") {
  .move__content {
    left: -300px;
    position: absolute;
  }
}

.select {
  background-color: #359ef9;
  padding: 10px 30px;
  color: #ffffff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

@include media("2", "3") {
  .move__nav {
    right: 0px;
  }
}
@include media("0", "2") {
  .move__nav {
    right: 0px;
    width: 100vw;
  }
}
